body {
	width: 100%;
	position: absolute;
}

#layout_main {
	width: 100%;
	background-color: #f6f6f6;
}

#layout_main .name li {
	width: 100%;
	height: 1.067rem;
	background-color: #fff;
	font-size: 0.36rem;
	font-weight: 600;
	line-height: 1.067rem;
	margin-bottom: 0.133rem;

}

#layout_main .name li p {
	float: left;
	display: inline-block;
	width: 6.667rem;
	padding-left: 0.3rem;
}

#layout_main .name li img {
	width: 0.44rem;
	height: 0.44rem;
	float: right;
	margin-right: 0.347rem;
	margin-top: 0.3rem;
}


#layout_main .next {
	width: 8.0rem;
	height: 1.067rem;
	display: block;
	margin: 0 auto;
	margin-top: 1.6rem;
	margin-bottom: 1.067rem;
}

#layout_main .ad {
	width: 100%;
	height: 5rem;
	background-color: #fff;
}

#layout_main .ad img {
	width: 9.6rem;
	height: 4.8rem;
	display: block;
	margin: 0 auto;
}

